.stockListElem ul li {
    display: inline-block;
    padding: 1em;
}

.stockListElem .trendChart {
    width: 10em;
    height: 5em;
}

.stockListElem .stockRedirect:hover {
    transition: all 0.1s ease-in;
    transform: scale(1.2);
}

.stockListElem .stockRedirect .stockSymbol {
    color: black;
}
